<div *ngIf="flusso" class="form-group">
  <h2>{{flusso.tabella | uppercase}} Details</h2>
  <div class="form-group">
    <span>id: </span>{{flusso.id}}
  </div>
  <div class="form-group">
    <label>tabella:</label>
    <input [(ngModel)]="flusso.tabella" class="form-control" placeholder="nome tabella" />
  </div>
  <div class="form-group">
    <button (click)="delFlusso(flusso.id)" class="btn btn-primary btn-sm">CANCELLA</button>
    <button (click)="putFlusso(flusso.id, flusso)" class="btn btn-primary btn-sm">MODIFICA</button>
  </div>
  <div class="form-group">
    <button (click)="appareDiv()" class="btn btn-primary btn-sm">INSERISCI NUOVA TABELLA</button>    
  </div>
  <div class="form-group" style="display: none" id="divIns">
    <label>tabella:</label>
    <input [(ngModel)]="insTab" class="form-control" placeholder="nome tabella"/>
  </div>
  <div class="form-group">
    <button (click)="postFlusso()" class="btn btn-primary btn-sm">SALVA NUOVA TABELLA</button>    
  </div>
</div>